In [1]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv("./data/modified_train.csv")
df.head()

,id,user_id,campaign_id,is_open,is_click,hour,communication_type,total_links,no_of_internal_links,no_of_images,no_of_sections,email_body,subject,email_url
0,42_14051,14051,42,0,0,19,3,88,79,13,4,40,48,13
1,42_177808,177808,42,0,0,20,3,88,79,13,4,40,48,13
2,42_133077,133077,42,0,0,20,3,88,79,13,4,40,48,13
3,42_118677,118677,42,0,0,20,3,88,79,13,4,40,48,13
4,42_25809,25809,42,0,0,19,3,88,79,13,4,40,48,13

In [22]:
df.drop(['is_open','id','user_id','campaign_id'], axis=1, inplace=True)
df.head()

,is_click,hour,communication_type,total_links,no_of_internal_links,no_of_images,no_of_sections,email_body,subject,email_url
0,0,19,3,88,79,13,4,40,48,13
1,0,20,3,88,79,13,4,40,48,13
2,0,20,3,88,79,13,4,40,48,13
3,0,20,3,88,79,13,4,40,48,13
4,0,19,3,88,79,13,4,40,48,13

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1023191 entries, 0 to 1023190
Data columns (total 10 columns):
is_click                1023191 non-null int64
hour                    1023191 non-null int64
communication_type      1023191 non-null int64
total_links             1023191 non-null int64
no_of_internal_links    1023191 non-null int64
no_of_images            1023191 non-null int64
no_of_sections          1023191 non-null int64
email_body              1023191 non-null int64
subject                 1023191 non-null int64
email_url               1023191 non-null int64
dtypes: int64(10)
memory usage: 78.1 MB

In [24]:
for col in df.columns.values:
    print(df[col].value_counts())
    print("======================================")

0    1010409
1      12782
Name: is_click, dtype: int64
======================================
12    144825
20    142177
15    129974
22    128365
14    121075
18     74451
17     73482
10     51456
23     44408
11     39498
19     33019
13     20277
9      14206
16      5978
Name: hour, dtype: int64
======================================
3    451053
0    332633
5    148964
4     50936
2     33265
6      3487
1      2853
Name: communication_type, dtype: int64
======================================
67     151289
63      93943
104     85431
119     81358
88      81253
13      73415
75      73112
18      69756
24      69624
7       61968
203     51456
109     39710
60      39498
8       18112
9       15167
28       7232
10       4822
15       3192
14       2786
11         67
Name: total_links, dtype: int64
======================================
58     93943
100    85431
62     82160
117    81358
79     81253
11     73415
64     73112
14     69756
19     69624
61     69129
3      61968
191    51456
105    39710
56     39498
4      21599
7       7626
26      7232
8       4822
2       4121
13      3192
10      2786
Name: no_of_internal_links, dtype: int64
======================================
12    200929
13    166684
7     139380
2     117775
8      93943
10     82160
16     81358
1      50936
17     39710
19     39498
3       7626
5       3192
Name: no_of_images, dtype: int64
======================================
1    485698
4    381924
6     79208
3     76361
Name: no_of_sections, dtype: int64
======================================
23    93943
10    85431
38    82160
22    81358
40    81253
15    73415
2     73112
17    69756
0     69624
18    69129
9     51456
28    46815
47    39710
48    39498
16    15153
3     14230
32     7559
26     7232
33     4822
27     4121
42     3882
12     3487
25     3192
41     2786
6        67
Name: email_body, dtype: int64
======================================
42    93943
46    85431
41    82160
19    81358
48    81253
7     73415
25    73112
33    69756
3     69624
20    69129
43    51456
27    46815
44    39710
47    39498
38    14230
49     9831
34     7559
8      7232
5      5322
21     4822
22     4121
26     3882
40     3487
14     3192
16     2786
13       67
Name: subject, dtype: int64
======================================
24    93943
23    85431
22    82160
51    81358
13    81253
7     73415
5     73112
1     69756
3     69624
0     69129
19    51456
4     46815
20    39710
15    39498
18    14230
17     9831
8      7559
9      7232
16     5322
11     4822
6      4121
21     3882
10     3487
2      3192
12     2786
14       67
Name: email_url, dtype: int64
======================================

In [25]:
for x in df.communication_type.unique():
    s = "comm"+str(x)
    df[s] = (df.communication_type == x).astype(int)

df.head()

,is_click,hour,communication_type,total_links,no_of_internal_links,no_of_images,no_of_sections,email_body,subject,email_url,comm3,comm4,comm5,comm0,comm1,comm2,comm6
0,0,19,3,88,79,13,4,40,48,13,1,0,0,0,0,0,0
1,0,20,3,88,79,13,4,40,48,13,1,0,0,0,0,0,0
2,0,20,3,88,79,13,4,40,48,13,1,0,0,0,0,0,0
3,0,20,3,88,79,13,4,40,48,13,1,0,0,0,0,0,0
4,0,19,3,88,79,13,4,40,48,13,1,0,0,0,0,0,0

In [26]:
for x in df.email_body.unique():
    s = "body"+str(x)
    df[s] = (df.email_body == x).astype(int)

for x in df.subject.unique():
    s = "sub"+str(x)
    df[s] = (df.subject == x).astype(int)

for x in df.email_url.unique():
    s = "url"+str(x)
    df[s] = (df.email_url == x).astype(int)
    
df.drop(['communication_type','email_url','subject','email_body'], axis=1, inplace=True)

df.head()

,is_click,hour,total_links,no_of_internal_links,no_of_images,no_of_sections,comm3,comm4,comm5,comm0,...,url5,url17,url6,url2,url8,url9,url16,url21,url11,url14
0,0,19,88,79,13,4,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,20,88,79,13,4,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,20,88,79,13,4,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,20,88,79,13,4,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,19,88,79,13,4,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0