In [54]:
import pandas as pd
import numpy as np

In [55]:
df = pd.read_csv("./data/train_mini.csv", parse_dates=['send_date'])
df.head()

          id  user_id  campaign_id           send_date  is_open  is_click
0   42_14051    14051           42 2017-01-09 19:55:00        0         0
1  52_134438   134438           52 2017-02-11 12:53:00        0         0
2  33_181789   181789           33 2017-07-24 15:15:00        0         0
3  44_231448   231448           44 2017-05-09 11:36:00        0         0
4  29_185580   185580           29 2017-01-07 18:01:00        0         0

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
id             200 non-null object
user_id        200 non-null int64
campaign_id    200 non-null int64
send_date      200 non-null datetime64[ns]
is_open        200 non-null int64
is_click       200 non-null int64
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 9.5+ KB

In [57]:
df["month"] = df.send_date.map(lambda x: x.strftime('%m'))
df["date"] = df.send_date.map(lambda x: x.strftime('%d'))
df["hour"] = df.send_date.map(lambda x: x.strftime('%H'))
df["min"] = df.send_date.map(lambda x: x.strftime('%M'))
df.drop(["send_date"], axis=1, inplace=True)
df.head()

          id  user_id  campaign_id  is_open  is_click month date hour min
0   42_14051    14051           42        0         0    01   09   19  55
1  52_134438   134438           52        0         0    02   11   12  53
2  33_181789   181789           33        0         0    07   24   15  15
3  44_231448   231448           44        0         0    05   09   11  36
4  29_185580   185580           29        0         0    01   07   18  01

In [58]:
daf = pd.read_csv("./data/campaign_data.csv")
daf.head()

,campaign_id,communication_type,total_links,no_of_internal_links,no_of_images,no_of_sections,email_body,subject,email_url
0,29,Newsletter,67,61,12,3,"Dear AVians,\r\n \r\nWe are shaping up a super...",Sneak Peek: A look at the emerging data scienc...,http://r.newsletters.analyticsvidhya.com/7um44...
1,30,Upcoming Events,18,14,7,1,"Dear AVians,\r\n \r\nAre your eager to know wh...",[July] Data Science Expert Meetups & Competiti...,http://r.newsletters.analyticsvidhya.com/7up0e...
2,31,Conference,15,13,5,1,Early Bird Pricing Till August 07  Save upto ...,Last chance to convince your boss before the E...,http://r.newsletters.analyticsvidhya.com/7usym...
3,32,Conference,24,19,7,1,\r\n \r\nHi ?\r\n \r\nBefore I dive into why y...,A.I. & Machine Learning: 5 reasons why you sho...,http://r.newsletters.analyticsvidhya.com/7uthl...
4,33,Others,7,3,1,1,Fireside Chat with DJ Patil - the master is he...,"[Delhi NCR] Fireside Chat with DJ Patil, Forme...",http://r.newsletters.analyticsvidhya.com/7uvlg...

In [59]:
from sklearn.preprocessing import LabelEncoder

le_comm = LabelEncoder()
le_body = LabelEncoder()
le_sub = LabelEncoder()
le_url = LabelEncoder()

In [60]:
le_comm.fit_transform(daf.communication_type)
le_body.fit_transform(daf.email_body)
le_sub.fit_transform(daf.subject)
le_url.fit_transform(daf.email_url)

daf.communication_type = le_comm.transform(daf.communication_type)
daf.email_body = le_body.transform(daf.email_body)
daf.subject = le_sub.transform(daf.subject)
daf.email_url = le_url.transform(daf.email_url)
daf.head()

,campaign_id,communication_type,total_links,no_of_internal_links,no_of_images,no_of_sections,email_body,subject,email_url
0,29,3,67,61,12,3,18,20,0
1,30,5,18,14,7,1,17,33,1
2,31,0,15,13,5,1,25,14,2
3,32,0,24,19,7,1,0,3,3
4,33,4,7,3,1,1,28,27,4

In [61]:
print(df.head())
print(daf.head())

          id  user_id  campaign_id  is_open  is_click month date hour min
0   42_14051    14051           42        0         0    01   09   19  55
1  52_134438   134438           52        0         0    02   11   12  53
2  33_181789   181789           33        0         0    07   24   15  15
3  44_231448   231448           44        0         0    05   09   11  36
4  29_185580   185580           29        0         0    01   07   18  01
   campaign_id  communication_type  total_links  no_of_internal_links  \
0           29                   3           67                    61
1           30                   5           18                    14
2           31                   0           15                    13
3           32                   0           24                    19
4           33                   4            7                     3

   no_of_images  no_of_sections  email_body  subject  email_url
0            12               3          18       20          0
1             7               1          17       33          1
2             5               1          25       14          2
3             7               1           0        3          3
4             1               1          28       27          4

In [62]:
final = pd.merge(df, daf, on='campaign_id')
final.head()

,id,user_id,campaign_id,is_open,is_click,month,date,hour,min,communication_type,total_links,no_of_internal_links,no_of_images,no_of_sections,email_body,subject,email_url
0,42_14051,14051,42,0,0,01,09,19,55,3,88,79,13,4,40,48,13
1,42_177808,177808,42,0,0,01,09,20,13,3,88,79,13,4,40,48,13
2,42_133077,133077,42,0,0,01,09,20,11,3,88,79,13,4,40,48,13
3,42_118677,118677,42,0,0,01,09,20,15,3,88,79,13,4,40,48,13
4,42_25809,25809,42,0,0,01,09,19,49,3,88,79,13,4,40,48,13

In [63]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 0 to 199
Data columns (total 17 columns):
id                      200 non-null object
user_id                 200 non-null int64
campaign_id             200 non-null int64
is_open                 200 non-null int64
is_click                200 non-null int64
month                   200 non-null object
date                    200 non-null object
hour                    200 non-null object
min                     200 non-null object
communication_type      200 non-null int64
total_links             200 non-null int64
no_of_internal_links    200 non-null int64
no_of_images            200 non-null int64
no_of_sections          200 non-null int64
email_body              200 non-null int64
subject                 200 non-null int64
email_url               200 non-null int64
dtypes: int64(12), object(5)
memory usage: 28.1+ KB

In [64]:
final.to_csv("./data/modified_train.csv", header=True, index=False)

In [65]:
temp = pd.read_csv("./data/modified_train.csv")
temp.head()

,id,user_id,campaign_id,is_open,is_click,month,date,hour,min,communication_type,total_links,no_of_internal_links,no_of_images,no_of_sections,email_body,subject,email_url
0,42_14051,14051,42,0,0,1,9,19,55,3,88,79,13,4,40,48,13
1,42_177808,177808,42,0,0,1,9,20,13,3,88,79,13,4,40,48,13
2,42_133077,133077,42,0,0,1,9,20,11,3,88,79,13,4,40,48,13
3,42_118677,118677,42,0,0,1,9,20,15,3,88,79,13,4,40,48,13
4,42_25809,25809,42,0,0,1,9,19,49,3,88,79,13,4,40,48,13

the above program seems to work fine

In [66]:
import pandas as pd
import numpy as np
import keras
from sklearn.model_selection import train_test_split

In [67]:
df = pd.read_csv("./data/modified_train.csv")

In [68]:
X = df.drop(['is_open','is_click','id','user_id','campaign_id'], axis=1)
y = df[['is_open','is_click']]

In [69]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [75]:
from sklearn.preprocessing import StandardScaler
print("Scaling the data.")
scaler = StandardScaler()
X_scaled = pd.DataFrame(scaler.fit_transform(X_train), columns=X_train.columns)
X_scaled.head()

Scaling the data.

,month,date,hour,min,communication_type,total_links,no_of_internal_links,no_of_images,no_of_sections,email_body,subject,email_url
0,1.074810,2.051301,-1.889459,1.049823,0.974637,-1.125348,-1.131824,-1.730449,-1.021574,0.593900,-0.244520,-0.807268
1,1.074810,2.514573,-0.332978,-0.243752,0.974637,-1.087785,-1.151260,-1.730449,-1.021574,0.515725,-0.582310,-0.643863
2,-0.997486,-0.110632,0.964088,0.338357,0.361485,-0.073584,-0.062807,-0.238573,0.906467,0.203023,0.768851,0.826779
3,0.729427,-0.265056,1.482915,1.243859,-1.477971,0.696457,0.753534,0.827053,-1.021574,-0.813258,1.039084,0.745077
4,-0.652103,-0.882751,0.445262,-0.955218,0.361485,0.001542,-0.004497,0.613928,0.263787,-0.187854,-0.717427,-1.134077

In [78]:
from keras.models import Sequential
from keras.layers import Dense
from keras import regularizers

In [79]:
model = Sequential()

In [109]:
model.add(Dense(12,kernel_regularizer=regularizers.l2(0.1), activation="relu", input_shape=(12,)))
model.add(Dense(1, activation='sigmoid'))

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['acc'])

In [110]:
small_model = model.fit(X_scaled, y_train['is_open'], epochs=10, validation_split=0.3, verbose=True)

Train on 93 samples, validate on 41 samples
Epoch 1/10
93/93 [==============================] - 1s 7ms/step - loss: 1.4160 - acc: 0.9140 - val_loss: 1.3965 - val_acc: 0.9512
Epoch 2/10
93/93 [==============================] - 0s 141us/step - loss: 1.3962 - acc: 0.9140 - val_loss: 1.3758 - val_acc: 0.9512
Epoch 3/10
93/93 [==============================] - 0s 146us/step - loss: 1.3765 - acc: 0.9140 - val_loss: 1.3554 - val_acc: 0.9512
Epoch 4/10
93/93 [==============================] - 0s 158us/step - loss: 1.3572 - acc: 0.9140 - val_loss: 1.3353 - val_acc: 0.9512
Epoch 5/10
93/93 [==============================] - 0s 205us/step - loss: 1.3381 - acc: 0.9140 - val_loss: 1.3167 - val_acc: 0.9512
Epoch 6/10
93/93 [==============================] - 0s 190us/step - loss: 1.3210 - acc: 0.9140 - val_loss: 1.2987 - val_acc: 0.9512
Epoch 7/10
93/93 [==============================] - 0s 166us/step - loss: 1.3034 - acc: 0.9140 - val_loss: 1.2810 - val_acc: 0.9512
Epoch 8/10
93/93 [==============================] - 0s 228us/step - loss: 1.2867 - acc: 0.9140 - val_loss: 1.2636 - val_acc: 0.9512
Epoch 9/10
93/93 [==============================] - 0s 264us/step - loss: 1.2704 - acc: 0.9140 - val_loss: 1.2464 - val_acc: 0.9512
Epoch 10/10
93/93 [==============================] - 0s 201us/step - loss: 1.2540 - acc: 0.9140 - val_loss: 1.2295 - val_acc: 0.9512

In [111]:
X_test.head()

,month,date,hour,min,communication_type,total_links,no_of_internal_links,no_of_images,no_of_sections,email_body,subject,email_url
95,1,12,20,5,3,63,58,8,4,23,42,24
15,2,11,12,53,3,67,62,10,4,38,41,22
30,2,11,12,55,3,67,62,10,4,38,41,22
158,2,10,10,29,3,203,191,12,4,9,43,19
128,6,11,22,50,0,104,100,13,1,10,46,23

In [112]:
y_test.head()

     is_open  is_click
95         0         0
15         0         0
30         0         0
158        0         0
128        0         0

In [113]:
a = pd.DataFrame(scaler.transform(X_test), columns=X_test.columns)
a.head()

,month,date,hour,min,communication_type,total_links,no_of_internal_links,no_of_images,no_of_sections,email_body,subject,email_url
0,-0.997486,-0.110632,0.964088,-1.019897,0.361485,-0.073584,-0.062807,-0.238573,0.906467,0.203023,0.768851,0.826779
1,-0.652103,-0.265056,-1.111218,2.084683,0.361485,0.001542,0.014940,0.187677,0.906467,1.375654,0.701293,0.663374
2,-0.652103,-0.265056,-1.111218,2.214040,0.361485,0.001542,0.014940,0.187677,0.906467,1.375654,0.701293,0.663374
3,-0.652103,-0.419480,-1.630045,0.532393,0.361485,2.555826,2.522271,0.613928,0.906467,-0.891433,0.836410,0.418267
4,0.729427,-0.265056,1.482915,1.890646,-1.477971,0.696457,0.753534,0.827053,-1.021574,-0.813258,1.039084,0.745077

In [114]:
model.predict(a, verbose=True)

66/66 [==============================] - 0s 2ms/step

array([[0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986],
       [0.41112986]], dtype=float32)

In [115]:
y_test

     is_open  is_click
95         0         0
15         0         0
30         0         0
158        0         0
128        0         0
115        1         0
69         0         0
170        0         0
174        0         0
45         0         0
66         0         0
182        0         0
165        0         0
78         0         0
186        0         0
177        0         0
56         0         0
152        0         0
82         1         1
68         0         0
124        0         0
16         0         0
148        0         0
93         0         0
65         0         0
60         0         0
84         0         0
67         0         0
125        0         0
132        0         0
..       ...       ...
135        0         0
137        0         0
164        0         0
76         0         0
79         0         0
197        0         0
38         0         0
24         0         0
122        0         0
195        0         0
29         0         0
19         0         0
143        1         0
86         0         0
114        0         0
173        0         0
5          0         0
126        0         0
117        0         0
73         0         0
140        1         0
98         0         0
172        0         0
96         0         0
169        0         0
97         0         0
31         0         0
12         0         0
35         0         0
119        1         0

[66 rows x 2 columns]